@import 'tailwindcss';

@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist.ttf');
}

@theme {
    --color-primary: #fff;
    --color-base: #111;
    --color-on-base: #fff;
    --color-secondary: #222;

    --font-geist: 'Geist' , sans-serif;
}

@layer base {
    body , html {
        @apply size-full font-geist bg-base text-on-base
    }
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center
    }
}